<%- include('partials/header') %>
<%- include('partials/homenavbar') %>
<body>
    <div class="container">
        
        <hr>
        <div class="jumbotron">
        <h1 class="display-4">Bem vindo(a)</h1>
        <p class="lead">Esse é um blog, veja os artigos recentes!</p>
        <a class="btn btn-primary btn-lg" href="/articles/page/2" role="button">Leia mais</a>
        </div>
        <hr>
        <% articles.forEach(article => { %>
            <div class="card">
                <div class="card-header">
                    <h2><%= article.title %></h2>
                </div>
                <div class="card-body">
                    <a class="btn btn-success" href="/<%= article.slug %>">Ler Artigo</a>
                </div>
            </div>

        <% })  %>
        <div class="row">
            <div class="col col-12">
                <a style="float: right;" href="/articles/page/2">Next >>></a>
            </div>
            <hr>
        </div>

    </div>
</body>
<%- include('partials/footer') %>